@model createWebApplicationCalculator.Models.CalculatorModel
<html lang="en">
<head>

    
</head>
<body>
    <div id="calculator">
        <div class="screen">
            <p id="display"></p>

        </div>
        <div class="container aux">
            <button class="auxillary" value="AC">AC</button>
            <button class="auxillary" value="+/-*">+/-*</button>
            <button class="auxillary" value="%">%</button>
        </div>
    <div class="container operators">
        <button class="operator" name="operation" value="/">/</button>
         <button class="operator" name="operation" value="+">+</button>
        <button class="operator" name="operation" value="-">-</button>
         <button class="operator" name="operation" value="">+</button>
    </div>
    </div>
</body>


</html>
